{{ define "main" }}
  <div class="section">
    <h1>{{ .Title }}</h1>
    {{ with .Content }}
      <div class="section-description">
        {{ . }}
      </div>
    {{ end }}

    <ul class="section-items">
      {{ range .Pages.ByDate.Reverse }}
        <li>
          <a href="{{ .Permalink }}">
            {{ if .IsSection }}
              <span class="folder-icon">📁</span>
            {{ else }}
              <span class="folder-icon">📑</span>
            {{ end }}
            {{ .Title }}
          </a>
          <time datetime="{{ .Date.Format "2006-01-02" }}">{{ .Date.Format "January 2, 2006" }}</time>
          {{ with .Description }}
            <p>{{ . }}</p>
          {{ end }}
        </li>
      {{ end }}
    </ul>

    {{ template "_internal/pagination.html" . }}
  </div>
{{ end }}